<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aesirteam.smep.mms.db.mapper.SmepMmsMtLogMapper" >

  <resultMap id="BaseResultMap" type="com.aesirteam.smep.mms.db.domain.MmsMtLog" >
    <id column="TransactionId" property="transactionid" jdbcType="VARCHAR" />
    <result column="SeqNo" property="seqno" jdbcType="VARCHAR" />
    <result column="CorpNo" property="corpno" jdbcType="VARCHAR" />
    <result column="VASPId" property="vaspid" jdbcType="VARCHAR" />
    <result column="VASId" property="vasid" jdbcType="VARCHAR" />
    <result column="MMSVersion" property="mmsversion" jdbcType="VARCHAR" />
    <result column="MMSSubject" property="mmssubject" jdbcType="VARCHAR" />
    <result column="Src_Terminal_Id" property="srcTerminalId" jdbcType="VARCHAR" />
    <result column="Dest_Terminal_Id" property="destTerminalId" jdbcType="VARCHAR" />
    <result column="Service_Id" property="serviceId" jdbcType="VARCHAR" />
    <result column="Registered_Delivery" property="registeredDelivery" jdbcType="INTEGER" />
    <result column="Msg_Level" property="msgLevel" jdbcType="INTEGER" />
    <result column="Mms_BodyType" property="mmsBodytype" jdbcType="INTEGER" />
    <result column="Valid_Time" property="validTime" jdbcType="TIMESTAMP" />
    <result column="At_Time" property="atTime" jdbcType="TIMESTAMP" />
    <result column="Mms_File" property="mmsFile" jdbcType="VARCHAR" />
    <result column="Createor" property="createor" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="Protocol" property="protocol" jdbcType="VARCHAR" />
    <result column="MsgId" property="msgid" jdbcType="VARCHAR" />
    <result column="StatusCode" property="statuscode" jdbcType="INTEGER" />
    <result column="StatusText" property="statustext" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    TransactionId, SeqNo, CorpNo, VASPId, VASId, MMSVersion, MMSSubject, Src_Terminal_Id, 
    Dest_Terminal_Id, Service_Id, Registered_Delivery, Msg_Level, Mms_BodyType, Valid_Time, 
    At_Time, Mms_File, Createor, CreateTime, Protocol, MsgId, StatusCode, StatusText
  </sql>
  
  
  <select id="getData" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from smep_mms_mt_log
    where TransactionId = #{transactionid,jdbcType=VARCHAR}
  </select>
  
  <insert id="insertData" parameterType="java.util.List">
  	insert into smep_mms_mt_log
  	(
  	 	<include refid="Base_Column_List"/>
  	 ) values 
  	 <foreach collection="list" item="item" index="index" separator=",">
  	 (
  	 	#{item.transactionid,jdbcType=VARCHAR}, 
  	 	#{item.seqno,jdbcType=VARCHAR}, 
  	 	#{item.corpno,jdbcType=VARCHAR}, 
      	#{item.vaspid,jdbcType=VARCHAR}, 
      	#{item.vasid,jdbcType=VARCHAR}, 
      	#{item.mmsversion,jdbcType=VARCHAR}, 
      	#{item.mmssubject,jdbcType=VARCHAR},
      	#{item.srcTerminalId,jdbcType=VARCHAR},
      	#{item.destTerminalId,jdbcType=VARCHAR}, 
      	#{item.serviceId,jdbcType=VARCHAR},
      	#{item.registeredDelivery,jdbcType=INTEGER},
      	#{item.msgLevel,jdbcType=INTEGER}, 
      	#{item.mmsBodytype,jdbcType=INTEGER},
      	#{item.validTime,jdbcType=TIMESTAMP},
      	#{item.atTime,jdbcType=TIMESTAMP}, 
      	#{item.mmsFile,jdbcType=VARCHAR}, 
      	#{item.createor,jdbcType=VARCHAR}, 
      	#{item.createtime,jdbcType=TIMESTAMP}, 
      	#{item.protocol,jdbcType=VARCHAR}, 
      	#{item.msgid,jdbcType=VARCHAR},
      	#{item.statuscode,jdbcType=INTEGER}, 
      	#{item.statustext,jdbcType=VARCHAR}
  	 )
  	 </foreach>
  </insert>
</mapper>